.idea/
.vscode/
.mypy_cache
__pycache__/
*.pyc
.DS_Store

example_data/text/khm
output/
.caches
data2
output2
notebook
.ipynb_checkpoints
.ipynb
.git_orig

text_renderer.egg-info/
workspace
workspace2
node_modules/
package.json
package-lock.json
